<div id="screen">
    <button id="prev" aria-label="previous doodle effect" (click)="updateSketch()">Previous</button>
    <div class="poo">
        <div class="poo-container">
            <app-poo-doodle [sketch]="currentSketch" [pause]="isPaused"></app-poo-doodle>
        </div>
        <div class="poo-pillow"></div>
        <button (click)="isPaused = !isPaused">{{ isPaused ? 'Play' : 'Stop' }} animation</button>
    </div>
    <button id="next" aria-label="next doodle effect" (click)="updateSketch()">Next</button>
</div>
